body {
    background-color: #0d0d12;
    color: white;
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #08080a;
}

nav button {
    background: none;
    border: none;
    color: #ccc;
    margin: 0 10px;
    cursor: pointer;
}

.login-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.login-info-box, .login-form-box {
    background: #15151e;
    padding: 30px;
    border: 3px solid #a855f7;
    border-radius: 20px;
    width: 40%;
}

input {
    width: 100%;
    background: #0d0d12;
    border: 2px solid #a855f7;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.btn-logar, .btn-inscrever, .btn-sz, .btn-enviar {
    background: #a855f7;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-discord {
    background: #7289da;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    color: white;
    margin-bottom: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: black;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center; align-items: center;
}
